<head>
    <link rel="stylesheet" href="../../styles/footer.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>

<footer>
    © 2018 Yuliyan Ivanov. All rights reserved.
</footer>
<a href="https://www.linkedin.com/in/yuliyan-ivanov-07543a137/"><i class="fab fa-linkedin"></i></i></a>
<a href="https://github.com/MarikMayhem"><i class="fab fa-github"></i></a>
